body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Acme";
  text-align: center;
  font-size: 30px;
  background-color: #f0c8c8;
  /* background: #404040;
  background-image: url(http://i.stack.imgur.com/TEBeF.gif);
  font-family: "Mr Dafoe", cursive, "Baskerville Old Face", "Goudy Old Style",
    Garamond, "Times New Roman", serif;
  color: #eb219b;
  height: 100%;
  text-align: center;
  font-size: 24px; */
}

h1 {
  color: red;
}

.frontPage {
  width: 90%;
  height: 550px;
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FPDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
}
/* .game_page{
    width: 90%;
    height: 550px;  
} */

.hangman {
  border: double;
  height: 400px;
  width: 300px;
}

.hiddenWord {
  width: 500px;
  height: 50 px;
  display: flex;
  justify-content: space-evenly;
}
.livesLeft {
  width: 300px;
  height: 100 px;
  display: flex;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
}
.alphabet > * {
  flex: 0 0 20%;
}

.gamePage {
  /* width: 90%;
  height: 550px; */
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.gameArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: double;
}

.gameField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finalPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
}

.finalPageWin {
  background-image: url("./images/90066.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  border: double;
}

.finalPageLose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  border: double;
}

.active {
  color: red;
  top: 5px;
  box-shadow: none;
}

.ltr {
  visibility: hidden;
}
span {
  border: double;
}

#wrapper div span {
  height: 100px;
}
