body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: red;
}

.frontPage {
  width: 90%;
  height: 550px;
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FPDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
}
/* .game_page{
    width: 90%;
    height: 550px;  
} */

.hangman {
  border: double;
}

.hiddenWord {
  border: double;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  border: double;
}
.gamePage {
  width: 90%;
  height: 550px;
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: double;
}

.gameField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
}

.finalPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
}

.finalPageWin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  border: double;
}

.finalPageLose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 550px;
  border: double;
}

.active {
  color: red;
  top: 5px;
  box-shadow: none;
}

.ltr {
  visibility: hidden;
}
