body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Acme";
  text-align: center;
  font-size: 30px;
  background-color: #f0c8c8;
}

.FPDesign {
  width: 94%;
  height: 550px;
  border: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
/* .game_page{
    width: 90%;
    height: 550px;  
    border: double;
} */

.hangman {
  height: 400px;
  width: 300px;
  margin-left: 50px;
}

.hiddenWord {
  width: 500px;
  height: 50 px;
  display: flex;
  justify-content: space-evenly;
}
.livesLeft {
  width: 300px;
  height: 100 px;
  display: flex;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
}
.alphabet > * {
  flex: 0 0 20%;
}

.gamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
  height: 93vh;
  /* visibility: hidden; */
}

.gameArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: double;
  height: 93vh;
}

.gameField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  color: red;
  top: 5px;
  box-shadow: none;
}

.ltr {
  visibility: hidden;
}
span {
  border: double;
}
